@import '../variables';
@import '../mixins';

.button {
	display: flex;
	align-items: center;
	gap: 16px;

	transition: 350ms;

	&[disabled] {
		pointer-events: none;
		opacity: 0.5;
	}

	&_default {
		background-color: transparent;

		span {
			color: #3C3E50;

			transition: 350ms;
		}

		&:hover {
			@media #{$mouse-device} {
				span {
					color: #F15525;
				}
			}
		}
	}

	&_small {
		height: 32px;

		padding: 0 16px;

		gap: 4px;

		span {
			font-size: 13px;
		}

		svg {
			width: 10px;
		}
	}

	&_medium {
		height: 48px;

		padding: 0 24px;

		span {
			font-size: 15px;
		}

		svg {
			width: 15px;
		}
	}

	&_big {
		// height: 72px;
		@include rv('height', 72, 52, 320);

		// padding: 0 44px;
		@include rv('padding', 44, 28, 320);

		span {
			// font-size: 20px;
			@include rv('font-size', 20, 16, 320);
		}

		svg {
			// width: 16px;
			@include rv('width', 16, 12, 320);
		}
	}

	&_arrow {
		border-radius: 105px;

		span {
			color: #fff;
		}
	}

	&_blue {
		background-color: #38BFF2;

		&:hover {
			@media #{$mouse-device} {
				background-color: #F15525;
			}
		}
	}

	&_orange {
		background-color: #F15525;

		&:hover {
			@media #{$mouse-device} {
				background-color: #38BFF2;
			}
		}
	}
}

.button_arrow.button_small,
.button_arrow.button_medium {
	span {
		font-weight: 500;
	}
}